# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc
*.root

EECs/production/crab/*
EECs/production/crab.log
EECs/condor/output/*
EECs/condor2/output/*
*/production/crab/crab/*
*/production/crab/crab.log
Analysis/production/condor/working/*
Analysis/production/condor/filelists/*.txt
boost_1_82_0/

.vscode/*
Analysis/production/crab.log
Analysis/production/crab/production_tag.py
Analysis/production/crab/*.yaml
Analysis/python/config/config.json
Analysis/python/config/dump
Analysis/test/output
CustomJets/plugins/.SimonJetProducer.cc.swp
Analysis/production/crab/production_tag.py
Analysis/production/crab/submit.py
